deployment/rpm/com.ibm.docs.rpm/files/opt/ll/apps/IBMDocs/rpm/scripts/LotusConnections-config/directory.services.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ***************************************************************** -->
<!--                                                                   -->
<!-- Licensed Materials - Property of IBM                              -->
<!--                                                                   -->
<!-- 5724-S68                                                          -->
<!--                                                                   -->
<!-- Copyright IBM Corp. 2007, 2012  All Rights Reserved.              -->
<!--                                                                   -->
<!-- US Government Users Restricted Rights - Use, duplication or       -->
<!-- disclosure restricted by GSA ADP Schedule Contract with           -->
<!-- IBM Corp.                                                         -->
<!--                                                                   -->
<!-- ***************************************************************** -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified">
        <xs:element name="config">
                <xs:complexType>
                        <xs:sequence>
                                <xs:element ref="profileProvider" />
                        </xs:sequence>
                        <xs:attribute name="version" use="required"
                                type="xs:string" />
                        <xs:attribute name="id" use="required"
                                type="xs:string" />
                </xs:complexType>
        </xs:element>
        <xs:element name="profileProvider">
                <xs:complexType>
                        <xs:sequence>
                                <xs:element minOccurs="0" maxOccurs="unbounded"
                                        ref="property" />
                        </xs:sequence>
                        <xs:attribute name="class" use="required" />
                </xs:complexType>
        </xs:element>
        <xs:element name="property">
                <xs:complexType>
                        <xs:simpleContent>
                                <xs:extension base="xs:string">
                                        <xs:attribute name="name" use="required"
                                                type="xs:string" />
                                </xs:extension>
                        </xs:simpleContent>
                </xs:complexType>
        </xs:element>
</xs:schema>
